header {
  margin: 1rem 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 3rem;
    color: #ff1300;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      margin-right: 0.5rem;
    }
  }
}
